# This script is to analyze data provided by COOPS
## File location: E:\VDATUM\Data\USA_NY_Complete_List_Final_07Apr2016.xls
## In this file, there are three sheets containing
* Geodetic_Ties
* Harmonics
* Tidal_Datums

<b>2016-10-26  Dr. Liang Kuang<\b>

In [1]:
import os, matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
DataDir = r'E:\VDATUM\Data'
filename = r'USA_NY_Complete_List_Final_07Apr2016.xls'
excelfilename = os.path.join(DataDir,filename)

In [5]:
xl = pd.ExcelFile(excelfilename)

In [6]:
print(xl.sheet_names)

[u'Geodetic_Ties', u'Harmonics', u'Tidal_Datums']

In [7]:
df_tidal_datums = xl.parse("Tidal_Datums")

In [8]:
df_tidal_datums.head()

,STATION_ID (CO-OPS),Station Name (CO-OPS),Station Long (CO-OPS),Station Lat (CO-OPS),Epoch (CO-OPS),Published Average NAVD88 for tide station relative to Staff 0 (CO-OPS),MHHW relative to Staff 0 for tide station (CO-OPS),MHW relative to Staff 0 for tide station (CO-OPS),DTL relative to Staff 0 for tide station (CO-OPS),MTL relative to Staff 0 for tide station (CO-OPS),...,DHQ for tide station (CO-OPS),DLQ for tide station (CO-OPS),HWI for tide station (CO-OPS),LWI for tide station (CO-OPS),WL_MAX relative to Staff 0 for tide station (CO-OPS),WL_MIN relative to Staff 0 for tide station (CO-OPS),Lowest Astronomical Tide (CO-OPS),Highest Astronomical Tide (CO-OPS),Error in Meters,Error in Feet
0,8447435,"CHATHAM, LYDIA COVE",-69.951083,41.688472,1983-2001,2.034,2.957,2.834,1.980,1.955,...,0.123,0.072,4.660,11.100,3.858,0.573,NAN,NAN,0.011962,0.039247
1,8447495,SAQUATUCKET HARBOR,-70.056700,41.668300,1983-2001,2.326,2.863,2.758,2.201,2.190,...,0.106,0.085,4.504,10.197,NAN,NAN,NAN,NAN,0.016461,0.054006
2,8447505,"CHATHAM, STAGE HARBOR",-69.966700,41.666700,1983-2001,1.767,2.344,2.232,1.647,1.630,...,0.113,0.080,4.504,10.250,NAN,NAN,NAN,NAN,0.020276,0.066523
3,8447605,HYANNISPORT,-70.300000,41.631700,1983-2001,NAN,4.932,4.825,4.353,4.338,...,0.108,0.078,4.737,10.373,NAN,NAN,3.522,5.232,0.017588,0.057703
4,8447685,"CHAPPAQUOIT POINT, BUZZARDS BAY",-70.651700,41.605000,1983-2001,NAN,2.472,2.392,1.825,1.809,...,0.081,0.049,0.369,6.049,NAN,NAN,0.864,2.837,0.019027,0.062425

In [9]:
df_tidal_datums.columns

Index([u'STATION_ID (CO-OPS)', u'Station Name (CO-OPS)',
       u'Station Long (CO-OPS)', u'Station Lat (CO-OPS)', u'Epoch (CO-OPS)',
       u'Published Average NAVD88 for tide station relative to Staff 0 (CO-OPS)',
       u'MHHW relative to Staff 0 for tide station (CO-OPS) ',
       u'MHW relative to Staff 0 for tide station (CO-OPS) ',
       u'DTL relative to Staff 0 for tide station (CO-OPS) ',
       u'MTL relative to Staff 0 for tide station (CO-OPS) ',
       u'MSL relative to Staff 0 for tide station (CO-OPS) ',
       u'MLW relative to Staff 0 for tide station (CO-OPS) ',
       u'MLLW relative to Staff 0 for tide station (CO-OPS) ',
       u'GT for tide station (CO-OPS) ', u'MN for tide station (CO-OPS) ',
       u'DHQ for tide station (CO-OPS) ', u'DLQ for tide station  (CO-OPS)',
       u'HWI for tide station (CO-OPS) ', u'LWI for tide station  (CO-OPS)',
       u'WL_MAX relative to Staff 0 for tide station  (CO-OPS)',
       u'WL_MIN relative to Staff 0 for tide station (CO-OPS) ',
       u'Lowest Astronomical Tide (CO-OPS)',
       u'Highest Astronomical Tide (CO-OPS)', u'Error in Meters',
       u'Error in Feet'],
      dtype='object')